{% extends 'base.html' %}
{% load static %}
{% block titre %}A propos de l'ENSAE{% endblock %}
{% block css %} 
	<link rel="preload stylesheet" href="{% static 'css/2aslzg.css' %}" as="style">
	<link rel="stylesheet" type="text/css" href="{% static 'css/0efxr6.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/18zzqy.css' %}" media="screen and (min-width:37.5em)">
	<link rel="stylesheet" type="text/css" href="{% static 'css/21dfiv.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/1fw25g.css' %}" media="screen and (min-width:37.5em)" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/1hu6pa.css' %}" data-wnd_color_scheme_file="">
	<link rel="stylesheet" type="text/css" href="{% static 'css/24k0ur.css' %}" data-wnd_additive_color_file="">
	<link rel="stylesheet" type="text/css" href="{% static 'css/29id74.css' %}" data-wnd_typography_file="">
	<link rel="stylesheet" type="text/css" href="{% static 'css/1r6lvs.css' %}" data-wnd_typography_desktop_file="" media="screen and (min-width:37.5em)"><link rel="preload stylesheet" href="https://d1di2lzuh97fh2.cloudfront.net/files/2a/2as/2aslzg.css?ph=dc43f2707d" as="style">
	<link rel="stylesheet" type="text/css" href="{% static 'css/BackToTopStyle.css' %}">
{% endblock %}

{% block script %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="module" src="{% static 'js/12o1hf.js' %}"></script>
	<script type="module" src="{% static 'js/vueIcone.js' %}"></script>
{% endblock %}

{% block menu %} 
    <ul class="level-1">
        <li><a class="menu-item" href="{% url 'Accueil' %}"><span class="menu-item-text">Accueil</span></a></li>
        <li class="wnd-active   wnd-homepage"><a class="menu-item" href="{% url 'Apropos' %}"><span class="menu-item-text">A propos</span></a></li>
        <li><a class="menu-item" href="{% url 'inscription' %}"><span class="menu-item-text">Candidature</span></a></li>
        <li><a class="menu-item" href="{% url 'Accueil' %}#contact"><span class="menu-item-text">Contact</span></a></li>
    </ul>
{% endblock %}

<!-- Corps de la page -->
{% block main %} 
<section id="contact" class="l layout short-content wt-page ac-i ac-o ac-n l-default l-d-waves b-btn-r b-btn-s-m b-btn-dbb b-btn-bw-1 img-d-n img-t-u img-h-n line-dashed b-e-frs lbox-l c-s-n  wnd-free-bar-fixed-button  wnd-fe   wnd-eshop">
    <div class="wnd-page l-page cs-fiord ac-can t-btn-fw-l t-nav-fw-l t-pd-fw-l"><div id="wrapper" class="l-w t cf t-01">
    <main class="l-m cf"><div class="sw cf"><div class="sw-c cf">
        <section class="s s-basic cf sc-m wnd-background-image  wnd-w-narrow wnd-s-normal wnd-h-auto">
            <div class="s-w cf">
			<div class="s-o cf">
                
				<section class="s s-hm s-hm-claims cf sc-ml wnd-background-image  wnd-w-narrow wnd-s-high wnd-h-high wnd-nh-m wnd-p-cc hn-default">
					<div class="s-w cf"><div class="s-o cf">
					<!--Image d'accueil  -->
						<div class="s-bg">
							<div class="s-bg-l wnd-background-image fx-none bgpos-center-center bgatt-scroll">
								<picture><source type="image/jpg" sizes="100vw" ><img src="{% static 'images/ENSAE.png' %}" width="1112" height="800" alt="" fetchpriority="high" ></picture>
							</div>
						</div>
					<!-- Légende -->
						<div class="h-c s-c">
							<div class="h-c-b"><div class="h-c-b-i">
								<h1 class="claim cf"><span class="sit b claim-color-alpha claim-wb playfair-display claim-46"><span class="sit-w"><span class="sit-c">Le Réseau des Ecoles de Statistique africaine</span></span></span></h1>
							</div></div>
						</div>
					</div></div>
				</section>					  
            </div>
        </div>
        </section></div></div>
    </main> 
</div></div>
</section>
{% endblock %}

<!-- bas de page -->