{% extends 'base.html' %}
{% load static %}
{% block titre %}ENSAE{% endblock %}

{% block css %} 
    <link rel="preload stylesheet" href="{% static 'css/2aslzg.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'css/1r6lvs.css' %}" data-wnd_typography_desktop_file="" media="screen and (min-width:37.5em)" disabled="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/15wczq.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/21dfiv.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/49zid4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/0smdfu.css' %}" media="print">
    <link rel="stylesheet" type="text/css" href="{% static 'css/192fsn.css' %}" data-wnd_color_scheme_file="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/3ucdhc.css' %}" data-wnd_additive_color_file="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/18zzqy.css' %}" media="screen and (min-width:37.5em)">
    <link rel="stylesheet" type="text/css" href="{% static 'css/1fw25g.css' %}" media="screen and (min-width:37.5em)" disabled="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/1hu6pa.css' %}" data-wnd_color_scheme_file="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/2232if.css' %}" data-wnd_color_scheme_desktop_file="" media="screen and (min-width:37.5em)" disabled=""><link rel="preload stylesheet" href="https://d1di2lzuh97fh2.cloudfront.net/files/2a/2as/2aslzg.css?ph=dc43f2707d" as="style">
    <link rel="stylesheet" type="text/css" href="{% static 'css/24k0ur.css' %}" data-wnd_additive_color_file="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/29id74.css' %}" data-wnd_typography_file="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/BackToTopStyle.css' %}">
{% endblock %} 

{% block script %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="{% static 'js/12o1hf.js' %}"></script>
    <script type="module" src="{% static 'js/myJsview.js' %}"></script>
    <script type="module" src="{% static 'js/vueIcone.js' %}"></script>
{% endblock %}

{% block menu %} 
    <ul class="level-1">
        <li class="wnd-active   wnd-homepage"><a class="menu-item" href="{% url 'Accueil' %}"><span class="menu-item-text">Accueil</span></a></li>
        <li><a class="menu-item" href="{% url 'Apropos' %}"><span class="menu-item-text">A propos</span></a></li>
        <li><a class="menu-item" href="{% url 'inscription' %}"><span class="menu-item-text">Candidature</span></a></li>
        <li><a class="menu-item" href="{% url 'Accueil' %}#contact"><span class="menu-item-text">Contact</span></a></li>
    </ul>
{% endblock %}
    
<!-- Corps de la page -->
{% block main %} 
    <main class="l-m cf">
        <div class="sw cf">

            <!-- Section d'accueil -->
            <section class="s s-hm s-hm-claims cf sc-ml wnd-background-image  wnd-w-narrow wnd-s-high wnd-h-high wnd-nh-m wnd-p-cc hn-default">
                <div class="s-w cf"><div class="s-o cf">
                <!--Image d'accueil  -->
                <div class="s-bg">
                    <div class="s-bg-l wnd-background-image fx-none bgpos-center-center bgatt-scroll">
                        <picture><source type="image/jpg" sizes="200vw" ><img src="{% static 'images/IMG-20221105-WA0408.jpg' %}"  alt="" fetchpriority="high" ></picture>
                    </div>
                </div>
    
                <!-- Légende -->
                    <div class="h-c s-c">
                        <div class="h-c-b"><div class="h-c-b-i">
                            <h1 class="claim cf"><span class="sit b claim-color-alpha claim-wb playfair-display claim-46"><span class="sit-w"><span class="sit-c">Concours inter-écoles<br> Analyses thématiques sur la pauvreté</span></span></span></h1>
                            <h3 class="claim cf"><span class="sit b claim-color-inv claim-wb playfair-display claim-22"><span class="sit-w"><span class="sit-c">Prix du meilleur projet Edition 2023</span></span></span></h3>
                        </div></div>
                    </div>
                </div></div>
            </section>

            <!-- CONTEXTE-->
            <section class="s s-basic cf sc-w   wnd-w-default wnd-s-normal wnd-h-auto">
            <div class="s-w cf"><div class="s-o cf"><div class="s-c cf">
            <div class="ez cf wnd-no-cols"><div class="ez-c">
                <div class="b b-text cf"><div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
                    <h3 style="text-align:center" class="wnd-align-center"><br></h3> 
                    <h1 class="wnd-align-center">CONTEXTE DU CONCOURS</h1> 
                    <h3 style="text-align:center" class="wnd-align-center">

                        <p style="text-align: justify;">
                            La pauvreté est au cœur des principaux agendas internationaux de développment ( Cf. <a href="https://www.un.org/sustainabledevelopment/fr/poverty/" target="_blank">ODD1</a> ). Elle se révèle
                            particulièrement importante en Afrique. A cet effet, de nombreux programmes sont mises en oeuvre
                            dans le cadre de la lutte contre celle-ci, dont le présent concours.
                            <br>
                            L'intérêt de ce dernier est de pouvoir étudier la pauvreté, ses causes et ses manifestations au
                            sein de l'UEMOA et s'en inspirer pour
                            l'élaboration des politiques d'éradication.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <strong style="color: red;">Concernés</strong> : les
                                étudiants du RESA (ENSEA, ENSAE, ISSEA, ENEAM).
                            </li>
                            <li><i class="bi bi-check-circle"></i> <strong style="color: red;">Promoteurs</strong> : RESA,
                                UEMOA, Banque mondiale.
                            </li>
                        </ul>
                        
                        <br></h3>
                        <h3 style="text-align:center" class="wnd-align-center"><br></h3> 
                        <h1 class="wnd-align-center">OBJECTIFS ET PROCEDURES</h1> 
                        <h3 style="text-align:center" class="wnd-align-center">
                </div></div>

                <div class="s-f-ez"><div class="s-c s-f-border"><div class="ez cf"><div class="ez-c"><div class="cw cf"><div class="cw-c cf">

                    <div class="c cf pr" style="width:60%;"><div class="c-c cf">
						<div class="b b-text cf">
						<div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf"><h1><strong>
						<font class="wnd-font-size-50">Les objectifs du concours :</font>
					    </strong></h1><ul><li><h3 class="wnd-align-justify">Produire des études thématiques de qualité sur la pauvreté et ses conséquences.</h3></li>
						<li><h3 class="wnd-align-justify">Contribuer à la valorisation des données des enquêtes de suivi de la pauvreté.</h3></li>
						<li><h3 class="wnd-align-justify">Susciter l’intérêt sur la recherche scientifique sur la pauvreté.</h3></li>
                        <li><h3 class="wnd-align-justify">Mettre à la disposition des systèmes statistiques nationaux, des statisticiens économistes déjà alertes sur les questions d’harmonisation de mesure et d’analyse de la pauvreté.</h3></li>
                        <li><h3 class="wnd-align-justify">Promouvoir l’excellence de la recherche scientifique au sein des écoles du RESA.</h3></li></ul>
						
						<h1><font class="wnd-font-size-50"><strong>Procédures de candidatures</strong></font></h1><strong style="font-size: 1.075rem;" class="wnd-align-justify"><p></p></strong>
						<h3><strong>Phase de soumission :</strong>&nbsp;</h3><ul>
							<li><h3 class="wnd-align-justify">La phase de soumission s’étendra du 15 mai au 30 juin et permettra aux
                                étudiants de choisir des thématiques sur la pauvreté,
                                de les traiter et de produire des rapports. Les travaux peuvent porter
                                sur une vaste gamme
                                de sujets notamment la méthodologie de mesure de la pauvreté (technique
                                d’enquêtes de pauvreté, construction
                                des indicateurs de bien-être, construction des seuils de pauvreté, etc.)
                                ; l’analyse économique des questions de pauvreté y compris les
                                liens entre pauvreté et capital humain (éducation, santé, nutrition,
                                etc.), pauvreté et marché du travail, aspects multi-dimensionnels etc. ;
                                l’impact des politiques publiques sur les questions de redistribution,
                                etc.</h3></li></ul>
						<h3><strong>La phase d'évaluation et de sélection</strong></h3><ul>
							<li><h3 class="wnd-align-justify">La phase d’évaluation et de sélection consistera, dans un premier temps à
                                choisir la meilleure production dans chaque école. La sélection va
                                privilégier
                                les travaux innovants. Cette phase se fera du 30 juin au 15 juillet
                                2023.</h3></li>
							<li><h3 class="wnd-align-justify">Dans un second temps, les trois rapports seront présentés devant un
                                comité scientifique composé de trois (3) enseignants chercheurs, d’un
                                représentant
                                de la Banque mondiale, et d’un représentant de la commission de
                                l’UEMOA.</h3></li></ul>
						
                        <h3><strong>La phase de proclamation des résultats et de remise des prix</strong></h3><ul>
							<li><h3 class="wnd-align-justify">A la suite des présentations des articles devant le jury, le comité procédera à un classement
                                prenant en compte les notes de chacun de ses membres.</h3></li>
							<li><h3 class="wnd-align-justify">Cette sélection se
                                déroulera le mardi 19 septembre 2023. Elle sera clôturée par la
                                remise des prix.</h3></li>
							</ul>


					</div></div></div>
					</div>

                    <div class="c cf pr" style="width:40%;"><div class="c-c cf">

						<section class="s s-hm s-hm-claims cf sc-ml wnd-background-image  wnd-w-narrow wnd-s-high wnd-h-high wnd-nh-m wnd-p-cc hn-default">
                            <div class="s-w cf"><div class="s-o cf">
                           
                                <div class="s-bg">
                                    <div class="s-bg-l wnd-background-image fx-none bgpos-center-center bgatt-scroll">
                                        <picture><source type="image/jpg" sizes="100vw" ><img src="{% static 'images/IMG-20220516-WA0091.jpg' %}" width="1112" height="412" alt="" fetchpriority="high" ></picture>
                                    </div>
                                </div>
                           
                                <div class="h-c s-c">
                                    <div class="h-c-b"><div class="h-c-b-i">
                                        <h2> <br><br> <br></h2>
                                        <h3 class="claim cf"><span class="sit b claim-color-inv claim-wb playfair-display claim-22"><span class="sit-w"><span class="sit-c">Prix du meilleur projet Edition 2023</span></span></span></h3>
                                    </div></div>
                                </div>
                            </div></div>
                        </section>
<br>
                        <section class="s s-hm s-hm-claims cf sc-ml wnd-background-image  wnd-w-narrow wnd-s-high wnd-h-high wnd-nh-m wnd-p-cc hn-default">
                            <div class="s-w cf"><div class="s-o cf">
                           
                                <div class="s-bg">
                                    <div class="s-bg-l wnd-background-image fx-none bgpos-center-center bgatt-scroll">
                                        <picture><source type="image/jpg" sizes="100vw" ><img src="{% static 'images/WhatsApp Image 2023-05-22 at 11.07.23 AM.jpeg' %}" width="1112" height="412" alt="" fetchpriority="high" ></picture>
                                    </div>
                                </div>
                                
                                <div class="h-c s-c">
                                    <div class="h-c-b"><div class="h-c-b-i">
                                        <h2> <br><br> <br></h2>
                                        <h3 class="claim cf"><span class="sit b claim-color-inv claim-wb playfair-display claim-22"><span class="sit-w"><span class="sit-c">Prix du meilleur projet Edition 2023</span></span></span></h3>
                                    </div></div>
                                </div>
                            </div></div>
                        </section>
<br>
                        <section class="s s-hm s-hm-claims cf sc-ml wnd-background-image  wnd-w-narrow wnd-s-high wnd-h-high wnd-nh-m wnd-p-cc hn-default">
                            <div class="s-w cf"><div class="s-o cf">
                           
                                <div class="s-bg">
                                    <div class="s-bg-l wnd-background-image fx-none bgpos-center-center bgatt-scroll">
                                        <picture><source type="image/jpg" sizes="100vw" ><img src="{% static 'images/tou.jpg' %}" width="1112" height="412" alt="" fetchpriority="high" ></picture>
                                    </div>
                                </div>
                           
                                <div class="h-c s-c">
                                    <div class="h-c-b"><div class="h-c-b-i">
                                        <h2> <br><br> <br></h2>
                                        <h3 class="claim cf"><span class="sit b claim-color-inv claim-wb playfair-display claim-22"><span class="sit-w"><span class="sit-c">Prix du meilleur projet Edition 2023</span></span></span></h3>
                                    </div></div>
                                </div>
                            </div></div>
                        </section>
                    
                    </div></div>
                </div></div></div>
          </div></div></div>


                </div></div>
            </div></div></div>
            </section>
            
            <!-- bouton vers : S'inscrire -->
            <section class="s s-basic cf sc-b   wnd-w-default wnd-s-normal wnd-h-auto">
                <div class="b b-s b-s-t150 b-s-b150 b-btn b-btn-4 wnd-align-center"><div class="b b-text cf"><div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
                    <a class="b-btn-l" href="{% url 'inscription' %}"><h1 class="wnd-align-center">POSTULER ICI</h1></a>
                </div></div></div>	
            </section>
        </div>
    </main>
{% endblock %}

<!--Contact  -->
{% block contact %} 
<section id="contact" class="l layout short-content wt-page ac-i ac-o ac-n l-default l-d-waves b-btn-r b-btn-s-m b-btn-dbb b-btn-bw-1 img-d-n img-t-u img-h-n line-dashed b-e-frs lbox-l c-s-n  wnd-free-bar-fixed-button  wnd-fe   wnd-eshop">
    <div class="wnd-page l-page cs-fiord ac-can t-btn-fw-l t-nav-fw-l t-pd-fw-l"><div id="wrapper" class="l-w t cf t-01">
    <main class="l-m cf"><div class="sw cf"><div class="sw-c cf">
        <section class="s s-hm s-hm-hidden wnd-h-hidden cf sc-w   hn-default"></section>
        <section class="s s-basic cf sc-m wnd-background-image  wnd-w-narrow wnd-s-normal wnd-h-auto">
            <div class="s-w cf"><div class="s-o cf">
                <div class="s-bg cf">
                    <div class="s-bg-l wnd-background-image fx-none bgpos-center-center bgatt-scroll overlay-black">
                        <picture><img src="{% static 'images/contact.jpg' %}" width="1920" height="1280" alt="" loading="lazy" ></picture> 
                    </div>
                </div>    
                <div class="b b-text cf"><div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
                    <h1 class="wnd-align-center">NOUS CONTACTER</h1> 
                    <h3 style="text-align:center"><strong>Le Réseau des Ecoles de Statistique africaines (RESA)<br></strong></h3> 
                </div></div>
                <div class="s-c cf"><div class="ez cf"><div class="ez-c"><div class="cw cf"><div class="cw-c cf">
                    <div class="c cf pr" style="width:50%;">
                        <div class="c-c cf"><div class="b b-map b-s" style="margin-left:0%;margin-right:0%;">
                        <div class="b-c" id="wnd_MapBlock_69965_container" style="position:relative;padding-bottom:102.95%;">
                            <iframe src="https://web-1103.webnode.it/widgets/googlemaps/?z=15&amp;a=ensae+Dakar&amp;s=" style="position:absolute;top:0%;left:0%;width:100%;height:100%;" loading="lazy"></iframe>
                        </div>
                    </div></div></div>
                    <div class="c cf pr" style="width:50%;"><div class="c-c cf"><div class="form b b-s b-form-default f-rh-normal f-rg-normal f-br-all rounded cf">
                        
                        <!--Formulaire contact  -->
                        <form method="post">
                            {% csrf_token %}
                            <fieldset class="form-fieldset">
                                <div> 
                                    <!-- Nom  -->
                                    <div class="form-input form-text cf wnd-form-field wnd-required">
                                        <label for="nom"><span class="it b link"><span class="it-c">Nom</span></span></label>
                                        <input id="nom" name="nom" required value="" type="text" maxlength="150">
                                    </div>
                                    <!-- Prenom  -->
                                    <div class="form-input form-text cf wnd-form-field wnd-required">
                                        <label for="prenom"><span class="it b link"><span class="it-c">Prénom</span></span></label>
                                        <input id="prenom" name="prenom" required value="" type="text" maxlength="150">
                                    </div>
                                    <!-- Adress mail  -->
                                    <div class="form-input form-email cf wnd-form-field wnd-required">
                                        <label for="email"><span class="it b link"><span class="it-c">Adresse e-mail</span></span></label>
                                        <input id="email" name="email" required value="@" type="email" maxlength="255">
                                    </div>
                                     <!-- Objet  -->
                                    <div class="form-input form-text cf wnd-form-field wnd-required">
                                        <label for="objet"><span class="it b link"><span class="it-c">Objet</span></span></label>
                                        <input id="objet" name="objet" required value="" type="text" maxlength="150">
                                    </div>
                                     <!-- Message  -->
                                    <div class="form-input form-textarea cf wnd-form-field wnd-required">
                                        <label for="message"><span class="it b link"><span class="it-c">Message</span></span></label>
                                        <textarea rows="5" id="message" name="message" required></textarea>
                                    </div>
                                    <input type="hidden" name="type" value="contact">
                                </div>
                            </fieldset>

                       <!-- Bouton de soumission -->
                            <div class="form-submit b-btn cf b-btn-3">
                                <button class="b-btn-l" type="submit" name="send" value="submit">
                                    <span class="form-submit-text b-btn-t">Soumettre</span>
                                </button>
                            </div>
                        </form>
                    </div></div></div>
                </div></div></div>
          </div></div></div>
        </div>
        </section></div></div>
    </main> 
</div></div>
</section>
{% endblock %}

<!-- bas de page -->