{% load static %}
<!DOCTYPE html>
<html class="no-js" prefix="og: https://ogp.me/ns#" lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RESA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="msapplication-tap-highlight" content="no">
    <title>{% block titre %} {% endblock %}</title>
    {% block css %} {% endblock %}
    {% block script %} {% endblock %}
</head>
<body>
    <section class="l layout short-content wt-page ac-h ac-i ac-n l-default l-d-none b-btn-sq b-btn-s-l b-btn-dn b-btn-bw-1 img-d-n img-t-o img-h-z line-solid b-e-ds lbox-d c-s-s  wnd-free-bar-fixed-button  wnd-fe">
        <div class="wnd-page l-page cs-gray ac-coral t-btn-fw-l t-nav-fw-l t-pd-fw-l">
            <!-- Mise en forme : couleurs -->
            <div id="wrapper" class="l-w t cf t-21">
                <div class="l-bg cf">
                    <div class="s-bg-l"> 
                    </div>
                </div>
                
                <!-- Entête de page -->
                <header class="l-h cf">
                    <section class="s s-hn s-hn-default wnd-mt-classic wnd-na-c logo-classic sc-w   wnd-w-wider wnd-nh-m hm-claims menu-default-underline-grow">
                    <div class="s-w"><div class="s-o"><div class="h-w h-f wnd-fixed"><div class="n-l initial-state"><div class="s-c">
                        <div class="logo-block">
                            <div class="b b-l logo logo-color-text logo-nb wnd-font-size-20 playfair-display logo-32 wnd-logo-with-text b-ls-l">
                                <div class="b-l-c logo-content">
                                        <div class="b-l-text logo-text-wrapper">
                                            <div class="b-l-text-w logo-text">
                                                <span class="b-l-text-c logo-text-cell">RESA&nbsp;</span>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <!-- uemoa -->
                        <div class="logo-block">
                            <div class="b b-l logo logo-color-text logo-nb wnd-font-size-20 playfair-display logo-32 wnd-logo-with-text b-ls-l">
                                <div class="b-l-c logo-content">
                                        <div class="b-l-text logo-text-wrapper">
                                            <div class="b-l-text-w logo-text">
                                                <a href="http://www.uemoa.int" target="_blank"><span class="b-l-text-c logo-text-cell"><picture><img src="{% static 'images/logo.jpg' %}" width="60" height="45" alt="" loading="lazy" ></picture></span></a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <!-- Banque mondiale -->
                        <div class="logo-block">
                            <div class="b b-l logo logo-color-text logo-nb wnd-font-size-20 playfair-display logo-32 wnd-logo-with-text b-ls-l">
                                <div class="b-l-c logo-content">
                                        <div class="b-l-text logo-text-wrapper">
                                            <div class="b-l-text-w logo-text">
                                                <a href="https://www.banquemondiale.org" target="_blank"><span class="b-l-text-c logo-text-cell"><picture><img src="{% static 'images/logo-wb-header-fr.svg' %}" width="200" height="500" alt="" loading="lazy" ></picture></span></a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>


                        <!-- Menu -->
                        <div class="cart-and-mobile">
                            <div id="menu-mobile">
                                <a href="#" id="menu-submit"><span></span>Menu</a>
                            </div>
                        </div>
        
                        <div id="menu-slider">
                            <div id="menu-block">
                                <nav id="menu" data-align="centered" class="centered" data-type="sliding">
                                    <div class="menu-font menu-wrapper">
                                        <a href="#" class="menu-close" rel="nofollow" title="Close Menu"></a>
                                        {% block menu %} {% endblock %}
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div></div></div></div></div>
                    </section>
                </header>
                
         <!-- Corps de la page -->
         {% block main %} {% endblock %}
            </div>
        </div>
        <style>
            form i {
                    margin-left: -30px;
                    cursor: pointer;
                }
                
        </style>
    </section>
        <!-- Contact/inscription -->
    {% block contact %} {% endblock %}

            <!-- Bas de page -->
    <section id ="main" class="l layout short-content wt-home ac-h ac-i ac-n l-default l-d-none b-btn-sq b-btn-s-l b-btn-dn b-btn-bw-1 img-d-n img-t-o img-h-z line-solid b-e-ds lbox-d c-s-s  wnd-free-bar-fixed-button  wnd-fe">
        <div class="wnd-page l-page cs-gray ac-coral t-btn-fw-l t-nav-fw-l t-pd-fw-l"><div id="wrapper" class="l-w t cf t-21">
        <footer class="l-f cf"><div class="sw cf"><div class="sw-c cf">
            <section data-wn-border-element="s-f-border" class="s s-f s-f-edit sc-ml wnd-background-image  wnd-w-wider wnd-s-high wnd-h-auto">
            <div class="s-w"><div class="s-o"><div class="s-bg">
                <div class="s-bg-l wnd-background-image fx-none bgpos-center-center bgatt-scroll">
                    <picture><img src="{% static 'images/3hduj2.png' %}" width="1920" height="609" alt="" loading="lazy" ></picture> 
                </div>
            </div><div class="s-f-ez"><div class="s-c s-f-border"><div><div class="ez cf">
            <div class="ez-c"><div class="cw cf"><div class="cw-c cf">
            <div class="c cf pr" style="width:25.36%;"><div class="c-c cf"><div class="b b-text cf"><div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
                <h1><strong><font class="wnd-font-size-50">ENSAE</font></strong></h1>
                <h3>Immeuble ANSD</h3><h3>Rocade Fann Bel-Air Cerf-Volant</h3><h3>BP 16</h3><h3>Dakar RP</h3><h3>secretariat.ensae@orange.sn</h3><h3>(+221) 33 859 43 30</h3>
            </div></div></div></div>
            <div class="c cf pr" style="width:24.64%;"><div class="c-c cf"><div class="b b-text cf"><div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
                <a href="https://ensea.ed.ci/" target="_blank"><h1><strong><font class="wnd-font-size-50">ENSEA</font></strong></h1></a>
                <h3>Avenue des grandes écoles-campus de cocody</h3><h3>08 BP 3</h3><h3>Abidjan 08</h3><h3>ensea@ensea.ed.ci</h3><h3>(+225) 22 48 32 00 / 22 48 32 32</h3>
            </div></div></div></div>
            <div class="c cf pr" style="width:25%;"><div class="c-c cf"><div class="b b-text cf"><div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
                <a href="https://www.issea-cemac.org/issea/en" target="_blank"><h1><strong><font class="wnd-font-size-50">ISSEA</font></strong></h1></a>
                <h3>rue Pasteur</h3><h3>BP 294</h3><h3>Yaoundé</h3><h3>isseacemac@yahoo.fr / contact@issea-cemac.org</h3><h3>(+237) 22 22 01 34</h3>
            </div></div></div></div>
            <div class="c cf pr" style="width:25%;"><div class="c-c cf"><div class="b b-text cf"><div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
                <a href="https://eneam.uac.bj/" target="_blank"><h1><strong><font class="wnd-font-size-50">ENEAM</font></strong></h1></a>
                <h3>03 BP 1079</h3><h3>Cotonou</h3><h3>eneam.uac@eneam.uac.bj</h3><h3>(+229) 21 30 41 68</h3>
            </div></div></div></div>
        </div></div></div></div></div></div></div></div>
        </div><div class="s-f-bg-stripe"></div>
        </section></div></div></footer>
        </div></div>
    
    </section>
    
      <!-- Icone de retour à l'entête de page -->
    <a href="" class="scroll-to-top"></a>
</body>
</html>